* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    
}
header{
    background-color: #1e2b3b;
    height: 50px;
}
body {
    background-color: #171d25;
}
footer{
    background-color: #1e2b3b;
    height: 50px;
    text-align: center;
    
}

h1, h2, h3, p {
    color: #fff;
}

.gta {
    border-radius: 12px;
    
}

.Lancamento {
    display: flex;
    
}

.CGta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
   
}

.container {
    display: flex;
}

.quadropequeno {
    display: flex;
}

.quadropequeno2 {
    display: flex;
}

img {
    border-radius: 12px ;
    margin: 12px;
}
.blocodireito{
    margin-left: 150px;
}

.texto{
    padding: 10px;
    margin: 10px;
}
header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.teladcima {
    transition: transform (1.02s);
    margin-left: 12px;
}

.teladcima:hover{
    transform: scale(1.05s);
color: rgb(240, 240, 255);
}
.blocodireito{
    background-color: rgb(74, 134, 187);
}
.blocoesquerdo{
    background-color: rgb(74, 134, 187);
}
